body, html {
  margin: 0;
  padding: 0;
  height: 100%;

}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* padding: 30px; */

}

.card {
  height: 100vh !important;
  /* width: calc(100% - 60px); */
  /* margin: 30px auto; */
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  /* min-width: 200px;
  max-width: 800px; */
  /* height: 800px; */
  min-height: 100px;
  /* max-height: 800px; */
  overflow-y: auto;
  align-self: center;
}