.chat-header {
  font-size: 30px;
  padding: 15px;
}


.chat-body {
  font-size: 30px;
  padding: 15px;
}


.chat-footer {
  font-size: 30px;
  padding: 15px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 10px 10px 0 10px;
  margin: 0;
  /* overflow: scroll; */
}

.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 15px;
  transition: all 0.5s linear;
  opacity: 0;
}

.messages .message.left .avatar {
  background-color: transparent;
  float: left;

}

.messages .message.left .text_wrapper {
  background-color: #000000;
  margin-left: 15px;
}

.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before /*arrow*/
 {
  right: 100%;
  margin-top: -15px;
  border-right-color: #000000;
}

.messages .message.left .text {
  color: #ffffff;
}

.messages .message.right .avatar {
  background-color: transparent;
  float: right;
  border-radius: 15px;
  border-width: 10px;
  border-color: #c7eafc;
  margin-left: 25px;

}

.messages .message.right .text_wrapper {
  background-color: #848484;
  margin-right: 20px;
  float: right;
}

.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #848484;
}

.messages .message.right .text {
  color: #000000;
}

.messages .message.appeared {
  opacity: 1;
}

.messages .message .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 50px;
}

.messages .message .text_wrapper {
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  width: calc(100% - 200px);
  min-width: 300px;
  min-height: 10px;
  position: relative;
  margin-right: 15px;
}

.messages .message .text_wrapper::after {
  top: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.messages .message .text_wrapper::after {
  border-width: 18px;
  margin-top: 0px;
}

.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}

.messages .message .text_wrapper .text {
  font-size: 20px;
  font-weight: 300;
}

.messages .message .text_wrapper .time .right {
  font-size: 20px;
  font-weight: 300;
  float: right;
}

.messages .message .text_wrapper .time .left {
  font-size: 20px;
  font-weight: 300;
  float: left;
}
